:root {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  --font-title: 'Poppins bold';
  --font-title-bold: 'Poppins Black';
  --font-content: 'Poppins';
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./assets/font/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins Black';
  src: url('./assets/font/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins.ttf');
}

*,
#root {
  position: relative;
}

body::-webkit-scrollbar { width: 0 !important; }

#confetti {
  z-index: 110;
}

#alert {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  overflow-x: hidden;
}

#alert .alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 40vw;
  max-width: 80%;
  width: max-content;
}

#alert .alert .alertTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#alert .alert .alertTitle .btnClose {
  padding: 0.5rem;
  height: auto;
  font-size: 3vw;
  background: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bolder;
}

#alert .css-svzhua-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
  font-size: 4vw;
}

#alert .alert h2 {
  padding: 0;
  margin: 0;
  font-size: 5vw;
  line-height: 5vw;
}

#alert .alert .winner {
  width: 100%;
  overflow-wrap: break-word
}
#alert h3 {
  text-align: center;
  margin: 0;
  font-size: 5vw;
  color: #000;
  line-height: 4.5vw;
}